
        body {
            margin: 0;
            font-family: Poppins;
            padding-top: 100px;
        }

        
        .navbar {
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
          }
        
        .navbar.hidden {
            transform: translateY(-100%);
            opacity: 0;
          }

        .navbar-brand {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .fixed-height {
            height: 225px;
        }
 
        .animated-text {
            font-size: 4rem;
            position: relative;
        }
        
        .dots {
            color: #0B1132;
        }
        
        .dots::after {
            content: '';
            position: absolute;
            animation: dots 2.5s steps(1, end) infinite;
        }
        
        @keyframes dots {
            0%, 25% {
                content: '';
            }
            50% {
                content: '.';
            }
            75% {
                content: '..';
            }
            100% {
                content: '...';
            }
        }
        
  footer a{
color: #000;
text-decoration: none;
  }

  footer a:hover{
color: #157347;
transition: 0.5s;
  }

/*-----------------------------------STILI------------------------------------------------------------------ */

.nav-item{
    padding: 2rem;
}

/*-----------------------------------NAVBAR--NUOVA------------------------------------------------------------------ */

 /* Custom styling to control navbar height */
 .custom-navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .custom-navbar a.nav-title {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .custom-navbar a.nav-title:hover {
    color: #157347; /* Match button color */
    transition-duration: 0.5s;
  }
 
.nav-title br{
    display: none;
}

@media (max-width: 576px) {
    .nav-title br{
        display: inline;
    }

    body{
        padding-top: 150px;
    }
}