
        body {
            margin: 0;
            font-family: Poppins;
            padding-top: 100px;
        }

        
        p{
          line-height: 150%;
        }

        li{
          line-height: 150%;
        }

        .navbar {
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
          }
        
        .navbar.hidden {
            transform: translateY(-100%);
            opacity: 0;
          }

        .navbar-brand {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .fixed-height {
            height: 225px;
        }
 
        .animated-text {
            font-size: 4rem;
            position: relative;
        }
        
        .dots {
            color: #0B1132;
        }
        
        .dots::after {
            content: '';
            position: absolute;
            animation: dots 2.5s steps(1, end) infinite;
        }
        
        @keyframes dots {
            0%, 25% {
                content: '';
            }
            50% {
                content: '.';
            }
            75% {
                content: '..';
            }
            100% {
                content: '...';
            }
        }
        
  footer a{
color: #000;
text-decoration: none;
  }

  footer a:hover{
color: #157347;
transition: 0.5s;
  }


  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px); /* Alza leggermente la card */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Ombra più marcata */
  }

  
  .img-overview {
    height: auto; /* Altezza automatica per mantenere le proporzioni */
    max-height: 300px; /* Limita l'altezza su desktop */
    object-fit: contain;
  }



/*-----------------------------------STILI------------------------------------------------------------------ */

.nav-item{
    padding: 2rem;
}

/*-----------------------------------NAVBAR--NUOVA------------------------------------------------------------------ */

 /* Custom styling to control navbar height */
 .custom-navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .custom-navbar a.nav-title {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .custom-navbar a.nav-title:hover {
    color: #157347; /* Match button color */
    transition-duration: 0.5s;
  }
 
.nav-title br{
    display: none;
}

.nav-title{
  font-family: 'Bespoke Stencil Medium', sans-serif;
}

@media (max-width: 768px) {
    .nav-title br{
        display: inline;
    }

    body{
        padding-top: 100px;
    }

    .img-overview {
      max-height: 250px; /* Altezza più piccola per dispositivi mobili */
    }


}

/*-----------------------------------PROGRESSBAR------------------------------------------------------------------ */


/* Progress bar container */
#progress-container {
  position: fixed;
  top: 0;  /* Verrà comunque nascosto quando la navbar è visibile */
  left: 0;
  width: 100%;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1); /* Sfondo opaco, opzionale */
  z-index: 9999;
  display: none; /* Di default nascosta */
}

/* Progress bar vera e propria */
#progress-bar {
  width: 0%;
  height: 100%;
  background-color: #157347; /* Colore della barra (personalizzabile) */
  transition: width 0.25s ease-out;
}

/*-----------------------------------CUSTOMFONT------------------------------------------------------------------ */

@font-face {
  font-family: 'BespokeStencil-Light';
  src: url('../fonts/BespokeStencil-Light.woff2') format('woff2'),
       url('../fonts/BespokeStencil-Light.woff') format('woff'),
       url('../fonts/BespokeStencil-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'BespokeStencil-LightItalic';
  src: url('../fonts/BespokeStencil-LightItalic.woff2') format('woff2'),
       url('../fonts/BespokeStencil-LightItalic.woff') format('woff'),
       url('../fonts/BespokeStencil-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'BespokeStencil-Regular';
  src: url('../fonts/BespokeStencil-Regular.woff2') format('woff2'),
       url('../fonts/BespokeStencil-Regular.woff') format('woff'),
       url('../fonts/BespokeStencil-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'BespokeStencil-Italic';
  src: url('../fonts/BespokeStencil-Italic.woff2') format('woff2'),
       url('../fonts/BespokeStencil-Italic.woff') format('woff'),
       url('../fonts/BespokeStencil-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'BespokeStencil-Medium';
  src: url('../fonts/BespokeStencil-Medium.woff2') format('woff2'),
       url('../fonts/BespokeStencil-Medium.woff') format('woff'),
       url('../fonts/BespokeStencil-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'BespokeStencil-MediumItalic';
  src: url('../fonts/BespokeStencil-MediumItalic.woff2') format('woff2'),
       url('../fonts/BespokeStencil-MediumItalic.woff') format('woff'),
       url('../fonts/BespokeStencil-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'BespokeStencil-Bold';
  src: url('../fonts/BespokeStencil-Bold.woff2') format('woff2'),
       url('../fonts/BespokeStencil-Bold.woff') format('woff'),
       url('../fonts/BespokeStencil-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'BespokeStencil-BoldItalic';
  src: url('../fonts/BespokeStencil-BoldItalic.woff2') format('woff2'),
       url('../fonts/BespokeStencil-BoldItalic.woff') format('woff'),
       url('../fonts/BespokeStencil-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'BespokeStencil-Extrabold';
  src: url('../fonts/BespokeStencil-Extrabold.woff2') format('woff2'),
       url('../fonts/BespokeStencil-Extrabold.woff') format('woff'),
       url('../fonts/BespokeStencil-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'BespokeStencil-ExtraboldItalic';
  src: url('../fonts/BespokeStencil-ExtraboldItalic.woff2') format('woff2'),
       url('../fonts/BespokeStencil-ExtraboldItalic.woff') format('woff'),
       url('../fonts/BespokeStencil-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 800.0;
*
* available axes:
'wght' (range from 300.0 to 800.0
*/
@font-face {
  font-family: 'BespokeStencil-Variable';
  src: url('../fonts/BespokeStencil-Variable.woff2') format('woff2'),
       url('../fonts/BespokeStencil-Variable.woff') format('woff'),
       url('../fonts/BespokeStencil-Variable.ttf') format('truetype');
  font-weight: 300 800;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 800.0;
*
* available axes:
'wght' (range from 300.0 to 800.0
*/
@font-face {
  font-family: 'BespokeStencil-VariableItalic';
  src: url('../fonts/BespokeStencil-VariableItalic.woff2') format('woff2'),
       url('../fonts/BespokeStencil-VariableItalic.woff') format('woff'),
       url('../fonts/BespokeStencil-VariableItalic.ttf') format('truetype');
  font-weight: 300 800;
  font-display: swap;
  font-style: italic;
}
